/* colour schemes */
:root {
    --text: #201316;
    --background: #efe6e8;
    --primary: #5d367d;
    --secondary: #f5f4ef;
    --accent: #3c90af;
    --minor-border: #dad2d3;
}

.content {
    margin-top: 0;
}


img {
    height: 500px;
    width: auto;
}

.notification {
    display: none;
}

h1 a.redirect{
    text-decoration: underline;
    cursor: pointer;
    color: #0000EE;
}

h1 a.redirect:hover{
    text-decoration: underline;
    cursor: pointer;
    color: hsla(240, 100%, 47%, 0.788);
}