/* colour schemes */
:root {
    --text: #201316;
    --background: #efe6e8;
    --primary: #5d367d;
    --secondary: #f5f4ef;
    --accent: #3c90af;
    --minor-border: #dad2d3;
}

.content {
    margin-top: 0;
}

.student {
    border-radius: 20px;
    padding: 3%;
    background-color: var(--secondary);
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 2%;
}

div.back a{
    float: left;
    margin-bottom: 3%;
    cursor: pointer;
    color: var(--accent);
    padding-bottom: 10px;
}

p.title {
    color: #201316;
    font-size: xx-large;
    padding-bottom: 20px;
    margin-top: 20px;
}

.relationship{
    background-color: var(--minor-border);
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 2%;
    padding: 3%;
    border-radius: 10px;
}