/* colour schemes */
:root {
    --text: #201316;
    --background: #efe6e8;
    --primary: #5d367d;
    --secondary: #f5f4ef;
    --accent: #3c90af;
    --minor-border: #dad2d3;
}

.content {
    margin-top: 3%;
}