/* colour schemes */
:root {
    --text: #201316;
    --background: #efe6e8;
    --primary: #5d367d;
    --secondary: #f5f4ef;
    --accent: #3c90af;
    --minor-border: #dad2d3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    cursor: default;
}

body{
    background-color: var(--background);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    border-bottom-color: var(--minor-border);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 100%;
    overflow: auto;
    margin-bottom: 10px;
}

.logo{
    font-size: 35px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

/* Nav menu */
.nav{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.menu li{
    float: left;
    border-color: var(--minor-border);
    margin-left: 10px;
}

.menu a{
    display: block;
    color: var(--text);
    background-color: var(--secondary);
    transition: all 0.5s;
    padding: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
    border: var(--minor-border);
    border-radius: 10px;
    cursor: pointer;
}

.menu a:hover{
    color: var(--primary);
}

a.account-box {
    cursor: context-menu;
}

span.account-email {
    font-size: small;
}

.content{
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.notifications {
    border-color: var(--minor-border);
    border-radius: 5px;
    border-width: 5px;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    place-items: center;
}

.notification {
    background-color: #ff0000;
    color: #efe6e8;
    border-color: var(--minor-border);
    border-radius: 5px;
    border-width: 5px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0.5%;
    cursor: pointer;
}