/* colour schemes */
:root {
    --text: #201316;
    --background: #efe6e8;
    --primary: #5d367d;
    --secondary: #f5f4ef;
    --accent: #3c90af;
    --minor-border: #dad2d3;
}

.content {
    margin-top: 0;
}

.message {
    background-color: var(--accent);
    color: var(--secondary);
    margin-bottom: 2%;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border-color: var(--minor-border);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.edit-staff {
    border-radius: 20px;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--secondary);
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 2%;
}

div.back a{
    float: left;
    margin-bottom: 3%;
    cursor: pointer;
    color: var(--accent);
    padding-bottom: 10px;
}

form {
    background-color: var(--minor-border);
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 2%;
    padding: 5%;
    border-radius: 15px;
}

form p.title {
    color: #201316;
    font-size: xx-large;
    padding-bottom: 20px;
    margin-top: 20px;
}

input {
    border-color: #201316;
    color: #201316;
    border-radius: 5px;
    margin-bottom: 2%;
    text-decoration: none;
    display: inline-block;
    outline: none;
    background-color: var(--minor-border);
    padding: 2px;
    padding-left: 10px;
    width: 500px;
    height: 35px;
    border-style: solid;
}

input:focus {
    border-color: var(--primary);
    outline: var(--primary);
}

input:hover {
    cursor: text;
}

.edit-staff .text-entries label{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
}

button {
    background-color: var(--primary);
    color: #efe6e8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 2%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
}

form div input[type="checkbox"] {
    width: 25px;
    height: 25px;
    transform: translateY(7px);
    cursor: pointer;
}