/* colour schemes */
:root {
    --text: #201316;
    --background: #efe6e8;
    --primary: #5d367d;
    --secondary: #f5f4ef;
    --accent: #3c90af;
    --minor-border: #dad2d3;
}

.content {
    margin-top: 3%;
}

.options {
    background-color: var(--minor-border);
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    border-radius: 30px;
}

.options *{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 5px;
}

.options a:hover {
    color: var(--text);
}

.options a.create {
    background-color: var(--primary);
    color: #efe6e8;
}

.options a.edit {
    background-color: var(--secondary);
    color: var(--text);
}

.options a.delete {
    background-color: var(--secondary);
    color: var(--text);
}