/* colour schemes */
@media (prefers-color-scheme: light) {
    :root {
        --text: #201316;
        --background: #efe6e8;
        --primary: #5d367d;
        --secondary: #f5f4ef;
        --accent: #3c90af;
        --minor-border: #dad2d3;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #efe6e8;
        --background: #201316;
        --primary: #3a347e;
        --secondary: #2c1c16;
        --accent: #a4d0e0;
        --minor-border: #dad2d3;
    }
}

.content {
    margin-top: 1%;
}

.message {
    background-color: var(--accent);
    color: var(--secondary);
    margin-bottom: 2%;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border-color: var(--minor-border);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.welcome {
    color: var(--accent);
    font-size: larger;
    font-weight: 200;
    margin-bottom: 1%;
}

.compose {
    border-radius: 20px;
    padding: 3%;
    padding-left: 7%;
    padding-right: 7%;
    background-color: var(--secondary);
    width: fit-content;
    height: fit-content;
    margin: auto;
}

div.back a{
    float: left;
    margin-bottom: 3%;
    cursor: pointer;
    color: var(--accent);
    padding-bottom: 10px;
}

p.title {
    font-size: x-large;
    color: var(--text);
    margin-bottom: 1%;
}

div#upload-attachments{
    border-style: solid;
    border-width: 1px;
    border-color: #201316;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2%;
}

div#upload-attachments span {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--minor-border);
}

div#upload-attachments input{
    margin-top: 1%;
}

div#submit button{
    background-color: var(--primary);
    color: #efe6e8;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 3%;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
}

.compose input[type="email"] {
    border-color: #201316;
    color: #201316;
    border-radius: 5px;
    margin-bottom: 2%;
    text-decoration: none;
    display: inline-block;
    outline: none;
    background-color: var(--secondary);
    padding: 2px;
    padding-left: 10px;
    width: 500px;
    height: 35px;
    border-style: solid;
}
.compose input[type="email"]:focus {
    border-color: var(--primary);
    outline: var(--primary);
}

.compose textarea {
    border-color: #201316;
    color: #201316;
    border-radius: 5px;
    margin-bottom: 2%;
    text-decoration: none;
    display: inline-block;
    outline: none;
    background-color: var(--secondary);
    padding: 2px;
    padding-left: 10px;
    width: 500px;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    cursor: text;
}

.compose div#read-receipts {
    width: 100%;
    border-color: #201316;
    border-style: solid;
    color: #201316;
    border-radius: 5px;
    border-width: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.compose div#read-receipts input {
    transform: translateY(2px);
}