/* colour schemes */
@media (prefers-color-scheme: light) {
    :root {
        --text: #201316;
        --background: #efe6e8;
        --primary: #5d367d;
        --secondary: #f5f4ef;
        --accent: #3c90af;
        --minor-border: #dad2d3;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #efe6e8;
        --background: #201316;
        --primary: #3a347e;
        --secondary: #2c1c16;
        --accent: #a4d0e0;
        --minor-border: #dad2d3;
    }
}

.content {
    margin-top: 2%;
}

.inbox {
    border-radius: 20px;
    padding: 3%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--secondary);
    width: fit-content;
    height: fit-content;
    margin: auto;
}

div.back a{
    float: left;
    cursor: pointer;
    color: var(--accent);
}

p.title {
    font-size: x-large;
    color: var(--text);
    margin-bottom: 2%;
}

.inbox p.empty {
    margin-top: 4%;
    margin-left: 75px;
    margin-right: 75px;
}

.inbox div.message{
    width: 480px;
    cursor: pointer;
    background-color: var(--minor-border);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 3%;
}

.inbox div.message *{
    cursor: pointer;
}

.inbox div.message span.sender{
    margin-right: 7%;
}

.inbox div.message p.msg{
    background-color: var(--background);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.inbox div.message p.view-message{
    color: var(--primary);
    margin-top: 2%;
}