<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('base_css')}}">
    </head>

    <body>
        <header>
            <a class="logo" href="{{ url_for('dashboard') }}">Secure Messaging</a>

            <nav class="nav">
                <ul class="menu">
                    {% if current_user.is_authenticated %}
                    <li>
                        <a href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                    
                        {% if current_user.admin %}
                            <li>
                                <a href="{{ url_for('admin') }}">Admin Dashboard</a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <div class="notification">
            This is a test notification
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>