{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('messaging_compose_css')}}">

{% if msg != "" %}
    {% for id in entry %}
        {% if id != "submit" %}
            <style>
                #{{id}} input{
                    border-color: #ff0000;
                }
            </style>
        {% endif %}
        {% if id == "submit" %}
            <style>
                #submit button{
                    background-color: #008000;
                }
                p.message{
                    color: #008000;
                }
            </style>
        {% endif %}
    {% endfor %}
    <p class="message">
        {{msg}}
    </p>
{% endif %}


<div class="compose">
    <div class="back">
        <a href="{{url_for('messages')}}">
            Back
        </a>
        <br>
    </div>
    <p class="title">
        Compose a new message.
    </p>
    <form class="compose-message" method="POST" action="{{url_for('messages_compose')}}" enctype="multipart/form-data">
        <div id="recipient">
            {% if data %}
                <input type="email" name="recipient" placeholder="Recipient's email address" value="{{data[0]}}" autofocus="" required>
            {% else %}
                <input type="email" name="recipient" placeholder="Recipient's email address" autofocus="" required>
            {% endif %}
        </div>
        <div id="message">
            {% if data %}
                <textarea name="message" placeholder="Your message" cols="50" rows="5" required>{{data[1]}}</textarea>
            {% else %}
                <textarea name="message" placeholder="Your message" cols="50" rows="5" required></textarea>
            {% endif %}
        </div>
        <div id="upload-attachments">
            <span>
                <picture>
                    <source
                    srcset="/static/icons/file_dark.svg"
                    media="(prefers-color-scheme: dark)"
                    />
                    <img width="20" height="20" src="/static/icons/file.svg"/>
                </picture>
                Upload attachments
            </span>
            <br>
            <input type="file" name="attachments" multiple=""/>
        </div>
        <div id="read-receipts">
            <label for="read-receipts">Read receipts</label>
            {% if data %}
                {% if data[2] %}
                    <input type="checkbox" name="read-receipts" checked value="True">
                {% else %}
                    <input type="checkbox" name="read-receipts" value="True">
                {% endif %}
            {% else %}
                <input type="checkbox" name="read-receipts" value="True">
            {% endif %}
        </div>
        <div id="submit">
            <button>Send</button>
        </div>
    </form>
</div>

{% endblock %}