{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('create_staff_css')}}">

<div class="create-staff">
    <div class="back">
        <a href="{{url_for('messages')}}">
            Back
        </a>
        <br>
    </div>

    <form class="create-staff-form" method="POST" action="{{url_for('create_staff')}}">
        <p class="title">
            Create a staff account
        </p>
        <div id="email">
            <input type="email" name="email" placeholder="Email" autofocus="" required>
        </div>
        <div id="first-name">
            <input type="text" name="first-name" placeholder="First Name" required>
        </div>
        <div id="last-name">
            <input type="text" name="last-name" placeholder="Last Name" required>
        </div>
        <div id="title">
            <input type="text" name="title" placeholder="Title (eg: Mr)" required>
        </div>
        <div id="senco">
            <label for="senco">SENCo team privileges:</label>
            <input type="checkbox" name="senco" value="True" required>
        </div>
        <div id="safeguarding">
            <label for="safeguarding">Safeguarding team privileges:</label>
            <input type="checkbox" name="safeguarding" value="True" required>
        </div>
        <div id="admin">
            <label for="admin">Admin team privileges:</label>
            <input type="checkbox" name="admin" value="True" required>
        </div>
        <div id="password">
            <div>
                <label for="password">User's password:</label>
            </div>
            <input type="text" name="password" value="ChangeMe" required>
        </div>
        <div id="submit">
            <button>Update password</button>
        </div>
    </form>
</div>
{% endblock %}