{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('create_staff_css')}}">

{% if msg != "" %}
    {% for id in entry %}
        {% if id != "submit" %}
            <style>
                #{{id}} input{
                    border-color: #ff0000;
                }
            </style>
        {% endif %}
        {% if id == "submit" %}
            <style>
                #submit button{
                    background-color: #008000;
                }
                p.message{
                    color: #008000;
                }
            </style>
        {% endif %}
    {% endfor %}
    <p class="message">
        {{msg}}
    </p>
{% endif %}

<div class="create-staff">
    <div class="back">
        <a href="{{url_for('manage_users_staff')}}">
            Back
        </a>
        <br>
    </div>

    <form class="create-staff-form" method="POST" action="{{url_for('create_staff')}}">
        <p class="title">
            Create a staff account
        </p>
        <div id="email">
            {% if data %}
                <input type="email" name="email" placeholder="Email" autofocus="" value="{{data[0]}}" required>
            {% else %}
                <input type="email" name="email" placeholder="Email" autofocus="" required>
            {% endif %}
        </div>
        <div id="first-name">
            {% if data %}
                <input type="text" name="first-name" placeholder="First Name" value="{{data[1]}}" required>
            {% else %}
                <input type="text" name="first-name" placeholder="First Name" required>
            {% endif %}
        </div>
        <div id="last-name">
            {% if data %}
                <input type="text" name="last-name" placeholder="Last Name" value="{{data[2]}}" required>
            {% else %}
                <input type="text" name="last-name" placeholder="Last Name" required>
            {% endif %}
        </div>
        <div id="title">
            {% if data %}
                <input type="text" name="title" placeholder="Title (eg: Mr)" value="{{data[3]}}" required>
            {% else %}
                <input type="text" name="title" placeholder="Title (eg: Mr)" required>
            {% endif %}
        </div>
        <div id="senco">
            <label for="senco">SENCo team privileges:</label>
            {% if data %}
                {% if data[4] == "True" %}
                    <input type="checkbox" name="senco" value="True" checked>
                {% else %}
                    <input type="checkbox" name="senco" value="True">
                {% endif %}
            {% else %}
                <input type="checkbox" name="senco" value="True">
            {% endif %}
        </div>
        <div id="safeguarding">
            <label for="safeguarding">Safeguarding team privileges:</label>
            {% if data %}
                {% if data[5] == "True" %}
                    <input type="checkbox" name="safeguarding" value="True" checked>
                {% else %}
                    <input type="checkbox" name="safeguarding" value="True">
                {% endif %}
            {% else %}
                <input type="checkbox" name="safeguarding" value="True">
            {% endif %}
        </div>
        <div id="admin">
            <label for="admin">Admin team privileges:</label>
            {% if data %}
                {% if data[6] == "True" %}
                    <input type="checkbox" name="admin" value="True" checked>
                {% else %}
                    <input type="checkbox" name="admin" value="True">
                {% endif %}
            {% else %}
                <input type="checkbox" name="admin" value="True">
            {% endif %}
        </div>
        <div id="enabled">
            <label for="enabled">Enable account:</label>
            {% if data %}
                {% if data[7] == "True" %}
                    <input type="checkbox" name="enabled" value="True" checked>
                {% else %}
                    <input type="checkbox" name="enabled" value="True">
                {% endif %}
            {% else %}
                <input type="checkbox" name="enabled" value="True" checked>
            {% endif %}
        </div>
        <div id="password">
            <div>
                <label for="password">User's password:</label>
            </div>
            {% if data %}
                <input type="text" name="password" value="{{data[8]}}" required>
            {% else %}
                <input type="text" name="password" value="ChangeMe" required>
            {% endif %}
        </div>
        <div id="submit">
            <button>Create Account</button>
        </div>
    </form>
</div>
{% endblock %}