{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('dashboard_css')}}">

<p class="welcome">
    Hello {{current_user.title}} {{current_user.lname}}!
</p>

<div class="options">
    <a class="messages" href="{{url_for('messages')}}">
        Messages
    </a>
    <a class="reporting" href="{{url_for('reporting')}}">
        <picture>
            <source
              srcset="/static/icons/flag_dark.svg"
              media="(prefers-color-scheme: dark)"
            />
            <img width="20" height="20" src="/static/icons/flag.svg"/>
        </picture>
        <span>
            Reporting
        </span>
    </a>
    <a class="user-settings" href="{{url_for('user_settings')}}">
        <picture>
            <source
              srcset="/static/icons/settings_dark.svg"
              media="(prefers-color-scheme: dark)"
            />
            <img width="20" height="20" src="/static/icons/settings.svg"/>
        </picture>
        <span>
            User Settings
        </span>
    </a>
    {% if current_user.admin %}
        <a class="manage-user" href="{{url_for('manage_user')}}">
            <picture>
                <source
                srcset="/static/icons/user_dark.svg"
                media="(prefers-color-scheme: dark)"
                />
                <img width="20" height="20" src="/static/icons/user.svg"/>
            </picture>
            <span>
                Manage Users
            </span>
        </a>
        <a class="app-settings" href="{{url_for('app_settings')}}">
            <picture>
                <source
                srcset="/static/icons/settings_dark.svg"
                media="(prefers-color-scheme: dark)"
                />
                <img width="20" height="20" src="/static/icons/settings.svg"/>
            </picture>
            <span>
                App Settings
            </span>
        </a>
    {% endif %}
</div>

{% endblock %}