/* colour schemes */
@media (prefers-color-scheme: light) {
    :root {
        --text: #201316;
        --background: #efe6e8;
        --primary: #5d367d;
        --secondary: #f5f4ef;
        --accent: #3c90af;
        --minor-border: #dad2d3;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #efe6e8;
        --background: #201316;
        --primary: #3a347e;
        --secondary: #2c1c16;
        --accent: #a4d0e0;
        --minor-border: #dad2d3;
    }
}

.content {
    margin-top: 3%;
}

.welcome {
    color: var(--accent);
    font-size: larger;
    font-weight: 200;
}

.messages {
    background-color: var(--primary);
    text-align: center;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.messages p{
    color: var(--background);
}