{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('user_settings_css')}}">

{% if msg != "" %}
    {% for id in entry %}
        {% if id != "submit" %}
            <style>
                #{{id}} input{
                    border-color: #ff0000;
                }
            </style>
        {% endif %}
        {% if id == "submit" %}
            <style>
                #submit button{
                    background-color: #008000;
                }
                p.message{
                    color: #008000;
                }
            </style>
        {% endif %}
    {% endfor %}
    <p class="message">
        {{msg}}
    </p>
{% endif %}

<form class="change-password" method="POST" action="{{url_for('user_settings')}}">
    <div class="back">
        <a href="{{url_for('dashboard')}}">
            Back
        </a>
        <br>
    </div>
    <p class="title">
        Change password
    </p>
    <div id="email">
        {% if savedEmail %}
            <input type="email" name="email" placeholder="Email" value="{{savedEmail}}" autofocus="" required>
        {% else %}
            <input type="email" name="email" placeholder="Email" autofocus="" required>
        {% endif %}
    </div>
    <div id="old-password">
        <input type="password" name="old-password" placeholder="Old password" required>
    </div>
    <div id="new-password">
        <input type="password" name="new-password" placeholder="New password" required>
    </div>
    <div id="confirm-new-password">
        <input type="password" name="confirm-new-password" placeholder="Confirm new password" required>
    </div>
    <div id="submit">
        <button>Update password</button>
    </div>
</form>

{% endblock %}